

/** @type {import('tailwindcss').Config} */
module.exports = {
  content: [
    './src/**/*.{js,ts,jsx,tsx}',
    './node_modules/tw-elements/dist/js/**/*.js',
  ],
  theme: {
    extend: {
      colors: {
        'electric-violet': {
          '50': '#f4f0ff',
          '100': '#ebe4ff',
          '200': '#d9cdff',
          '300': '#bfa6ff',
          '400': '#a173ff',
          '500': '#873bff',
          '600': '#7d14ff',
          '700': '#6f00ff',
          '800': '#5e01d6',
          '900': '#4e03af',
          '950': '#2e0077',
        },
      },
      backgroundImage: {
        'gradient-to-br': 'linear-gradient(to bottom right, var(--tw-gradient-stops))',
      },
    },
  },
  plugins: [require('tw-elements/plugin.cjs')],
}